.mainNav {
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		li {
			padding: 10px 20px;
			display: inline;
			// margin-right: 10px;
			a {
				color: $orchid;
				text-transform: uppercase;
			}
		}
	
}
}