html {
	font-size: 62.5%;
}

h1 {
	font-family: 'Kalam', cursive;
	font-size: 10rem;
	color: $white;
	font-weight: 400;
	letter-spacing: 0.3rem;
	text-shadow: rgba(128,128,128,0.7) 1px 1px 1px;    
}

h2 {
    margin-bottom: 20px;
    color: $darkgray;
	font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &:after {
    content:"";
    width: 50px;
    height: 3px;
    margin: auto;
    background: $orchid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
	}
}

h3 {
	font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

h4 {
	font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
	text-align: center;
}



/* paragraphs */

p, span {
	font-size: 1.5rem;
    letter-spacing: 0.5px;
	line-height: 1.5;
}

/*lists*/

ul li, ol li {
	font-size: 1.4rem;
	
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*buttons*/
button {
	padding: 7px;
	align-self: flex-end;
	border: 2px solid $orchid;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0);
	box-shadow: rgba(128, 128, 128, 0.25) 1px 1px 0.5px;
	color: $orchid;
	font-size: 1.6rem;
	text-transform: uppercase;
	transition: all 0.3s ease;
	&:hover {
		background: $orchid;
		color: $white;
	}
	&:focus {
		outline: -webkit-focus-ring-color $white 5px;
	}
}


PRE

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}
